.header {
    display: flex;
    justify-content: space-between;
    /* логотип зліва, все інше справа */
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    color: white;
}

.logo {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.logo:hover {
    color: #ddd;
}

.navWrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.navigation li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

.navigation li a:hover {
    color: #ddd;
}